<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="acanthis">
        <node if="false" name="FlyRectangleDemo" pkg="acanthis" type="FlyRectangleDemo" output="screen" />
        <node if="true" name="aruco_detector" pkg="acanthis" type="aruco_detector" output="screen">
            <param name="marker_size" value="0.197" />
            <param name="calibration" value="$(dirname)/../camera/calibration.yaml" />
            <param name="camera" value="/dev/video2" />
            <param name="publish_debug_image" value="true" />
            <param name="dictionary" value="4" />
        </node>
    </group>

    <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch" />
    <group if="false" ns="crazyflie">
        <node pkg="crazyflie_driver" type="crazyflie_add" name="crazyflie_add" output="screen">
            <param name="uri" value="radio://0/80/2M" />
            <param name="tf_prefix" value="crazyflie" />
            <param name="roll_trim" value="0" />
            <param name="pitch_trim" value="0" />
            <param name="enable_logging" value="true" />
            <param name="use_ros_time" value="true" />
            <param name="enable_logging_imu" value="true" />
            <param name="enable_logging_temperature" value="false" />
            <param name="enable_logging_magnetic_field" value="true" />
            <param name="enable_logging_pressure" value="false" />
            <param name="enable_logging_battery" value="true" />
            <param name="enable_logging_pose" value="true" />
            <param name="enable_logging_packets" value="true"/>
            <rosparam>
                genericLogTopics: ["ranger_deck"]
                genericLogTopicFrequencies: [25]
                genericLogTopic_ranger_deck_Variables: ["range.front", "range.right", "range.back", "range.left", "range.up"]
            </rosparam>
        </node>
    </group>
</launch>

